<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/style.css">
    <title>{{ title }}</title>
  </head>
  <body>
    <header class="bottom-space">
      <h1>{{ name }}</h1>
      <div class="col-end-align">
        {%- for contact in contactDetails -%}
          <a href="{{ contact.url }}">{{ contact.text }}</a>
        {%- endfor -%}
      </div>
    </header>
    <main>
      {% include "experience.njk" %}
      {% include "education.njk" %}
      {% include "skills.njk" %}
    </main>
  </body>
</html>