<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/style.css">
    <title>{{ title }}</title>
  </head>
  <body>
    {% include "header.njk" %}
    <main>
      {% include "experience.njk" %}
      {% include "education.njk" %}
      {% include "skills.njk" %}
    </main>
  </body>
</html>