<section>
  <h1>{{ education.sectionTitle }}</h1>
  <ul class="two-col">
    {%- for entry in education.entries -%}
      <li>
        <h2>{{ entry.name }}</h2>
        {%- for item in entry.descriptionLines -%}
          <div>{{ item }}</div>
        {%- endfor -%}
      </li>
    {%- endfor -%}
  </ul>
</section>