<section>
  <h1>{{ experienceTitle }}</h1>
  <ul>
    {%- for exp in experience -%}
      <li class="bottom-space">
        <h2>{{ exp.employer }}</h2>
        <h3>{{ exp.position }}</h3>
        <span>{{ exp.dates }}</span>
        <ul class="bullet-list">
          {%- for item in exp.accomplishments -%}
            <li>{{ item }}</li>
          {%- endfor -%}
        </ul>
      </li>
    {%- endfor -%}
  </ul>
</section>