<section>
  <h1>{{ experience.sectionTitle }}</h1>
  <ul>
    {%- for entry in experience.entries -%}
      <li class="bottom-space">
        <h2>{{ entry.employer }}</h2>
        <h3>{{ entry.position }}</h3>
        <span>{{ entry.dates }}</span>
        <ul class="bullet-list">
          {%- for item in entry.accomplishments -%}
            <li>{{ item }}</li>
          {%- endfor -%}
        </ul>
      </li>
    {%- endfor -%}
  </ul>
</section>