<section>
  <h1>EXPERIENCE</h1>
  <ul>
    {%- for experience in collections.experience -%}
      <li class="margin-bottom-1">
        <h2>{{ experience.data.employer }}</h2>
        <h3>{{ experience.data.position }}</h3>
        <span>{{ experience.data.dates }}</span>
        <ul class="bullet-list">
          {%- for item in experience.data.accomplishments -%}
            <li>{{ item }}</li>
          {%- endfor -%}
        </ul>
      </li>
    {%- endfor -%}
  </ul>
</section>