<section>
    <h1>TECHNOLOGIES AND TOOLS</h1>
    <ul class="skills">
        {%- for skill in collections.skills -%}
            <li class="two-col">
                <h3>{{ skill.data.category }}</h3>
                <span>
                    {{ skill.data.contents.join(', ') }}
                </span>
            </li>
        {%- endfor -%}
    </ul>
</section>