<section>
    <h1>{{ skills.sectionTitle }}</h1>
    <ul class="skills">
        {%- for skill in skills.entries -%}
            <li class="two-col offset">
                <h3>{{ skill.category }}</h3>
                <span>
                    {{ skill.contents.join(', ') }}
                </span>
            </li>
        {%- endfor -%}
    </ul>
</section>